apiVersion: apps/v1
kind: Deployment
metadata:
  name: naraninyeo-kafka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: naraninyeo-kafka
  template:
    metadata:
      labels:
        app: naraninyeo-kafka
    spec:
      containers:
        - name: naraninyeo-kafka
          image: ghcr.io/cookieshake/naraninyeo:2025-11-04-e6ca660
          imagePullPolicy: Always
          env:
            - name: NRIY_ENTRYPOINT
              value: router
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: 10.3.64.49:19092
            - name: KAFKA_GROUP_ID
              value: naraningyeo-v1
            - name: KAFKA_TOPIC
              value: event.nriy.new_message
            - name: PHONE_API_URL
              value: http://10.2.17.185:3000
            - name: FIRST_API_URL 
              value: https://naraninyeo-main.ks.ingtra.net
            - name: SECOND_API_URL
              value: https://naraninyeo-develop.ks.ingtra.net
            - name: S3_BUCKET
              value: nriy-attachments
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: AWS_SECRET_ACCESS_KEY
            - name: S3_ENDPOINT_URL
              value: https://s3.ingtra.net
