apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: naraninyeo-develop
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "2"
        autoscaling.knative.dev/maxScale: "4"
    spec:
      containers:
        - name: naraninyeo
          image: ghcr.io/cookieshake/naraninyeo:develop
          imagePullPolicy: Always
          env:
            - name: LLAMA_CPP_EMBEDDINGS_URI
              value: https://llama-cpp.ig.ingtra.net/embeddinggemma-300m
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: service.name=naraninyeo
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: https://alloy-otel-http.ig.ingtra.net
            - name: OTEL_EXPORTER_OTLP_PROTOCOL
              value: http/protobuf

            # Secret 참조
            - name: VCHORD_URI
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: VCHORD_URI
            - name: NAVER_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: NAVER_CLIENT_ID
            - name: NAVER_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: NAVER_CLIENT_SECRET
            - name: OPENROUTER_API_KEY
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: OPENROUTER_API_KEY
---
apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: naraninyeo-main
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "2"
        autoscaling.knative.dev/maxScale: "4"
    spec:
      containers:
        - name: naraninyeo
          image: ghcr.io/cookieshake/naraninyeo:main
          imagePullPolicy: Always
          env:
            - name: LLAMA_CPP_EMBEDDINGS_URI
              value: https://llama-cpp.ig.ingtra.net/embeddinggemma-300m
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: service.name=naraninyeo
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: https://alloy-otel-http.ig.ingtra.net
            - name: OTEL_EXPORTER_OTLP_PROTOCOL
              value: http/protobuf

            # Secret 참조
            - name: VCHORD_URI
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: VCHORD_URI
            - name: NAVER_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: NAVER_CLIENT_ID
            - name: NAVER_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: NAVER_CLIENT_SECRET
            - name: OPENROUTER_API_KEY
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: OPENROUTER_API_KEY