apiVersion: metallb.io/v1beta1
kind: BGPAdvertisement
metadata:
  name: default
spec:
  ipAddressPools:
    - default
---
apiVersion: metallb.io/v1beta2
kind: BGPPeer
metadata:
  name: default
spec:
  myASN: 64522
  peerASN: 64521
  peerAddress: 10.0.0.1
  ebgpMultiHop: true
  nodeSelectors:
    - matchExpressions:
      - key: kubernetes.io/hostname
        operator: In
        values:
          - k8s-la-worker-1
          - k8s-la-worker-2
